#container_trang_chu{
	background-color: blue;
	overflow: hidden;
}
#container_trang_chu a:hover{
	background: red;
}
#container_trang_chu a{
	display: block;
	text-decoration: none;
	color:white;
	padding: 10px 25px;
}
.menu_left{
	float: left;
}
.menu_right{
	float: right;
}



